nav{
    margin-bottom: 30px;
}

.d-flex{
    display: flex;
    justify-content: flex-end;
    width: 92%;
}

.d-flex-correction{
    width: 100%;
}

.navbar-brand{
    width: 4em;
    height: 2em;
    margin-right: 6px;
    margin-left: 5px;
    padding: 10px;
}

section {
    flex: 1;
    width: 100%;
}

img{
    height: 170px;
    width: 320px;
}

.cartPrice{
    width: 550px;
}

.helloUser{
    color: white;
    margin-left: 3%;
}

.closeSession{
    color:#f44336;
    cursor: pointer;
}

.buttonLink{
    text-decoration: none;
    color: black;
}

.buttonLink:hover{
    color: #868686;
}   

.buttonLink:active{
    border: 0px;
    color: #5f5f5f;
}

.material-symbols-outlined {
    position: relative;
    top: 4px;
    right: 2px;

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .footerAll{
    margin-top: 5%;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .cartEmpty{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: 'Futura Std', sans-serif;
    font-weight: 600;
    margin: 30px;
}